body {
    background-color: #6C7A89;
    color: #fff;
}

.well, .jumbotron {
    color: #6C7A89;
}

#stockChart {
    padding-right: 40px;
    padding-left: 10px;
    max-height: 500px;
}

.chart-wrap {
    margin-bottom: 10px;
}

.chart-legend li span{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

ul.line-legend {
    list-style-type: none;
    font-size: 22px;
    -webkit-padding-start: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.line-legend li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.btn-add {
    background-color: #BDC3C7;
}

.btn-add:hover {
    background-color: #DADFE1;
    color: #ffffff;
}

.btn-add:focus {
    background-color: #BDC3C7;
    color: #ffffff;
    outline: none;
}

.btn-xs {
    margin-right: 5px;
}

.footer {
    border-top: 1px solid #D2D7D3;
    color: #D2D7D3;
}

.footer a {
    color: #D2D7D3;
}

.footer a:hover {
    color: #D2D7D3;
}